<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
<p-toast></p-toast>

<h3 class="first">Advanced</h3>
<p>Organization with advanced customization.</p>
<p-organizationChart [value]="data1" style="" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
    styleClass="company">
    <ng-template let-node pTemplate="general-info">
        <app-productStructureNode
        [node]="node">
        </app-productStructureNode>
    </ng-template>
    <ng-template let-node pTemplate="rate">
         <app-productStructureNode
        [node]="node">
        </app-productStructureNode>
    </ng-template>
    <ng-template let-node pTemplate="line">
         <app-line [node]="node">
        </app-line>
    </ng-template>   
</p-organizationChart>
